<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>アカウント</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 bg-light vh-100 p-3">
                <div class="list-group">
                    <a th:href="@{/account}"
                       class="list-group-item list-group-item-action">
                        マイページ
                    </a>
                    <a th:href="@{/account/listing}"
                       class="list-group-item list-group-item-action">
                        出品一覧
                    </a>
                    <a th:href="@{/account/sold-list}"
                       class="list-group-item list-group-item-action">
                        販売履歴
                    </a>
                    <a th:href="@{/account/purchases}"
                       class="list-group-item list-group-item-action">
                        購入履歴
                    </a>
                </div>
            </div>
            <div class="col-md-10 p-4">
                <div class="text-center">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>値段</th>
                            <th>出品者</th>
                            <th>商品名</th>
                            <th>概要</th>
                            <th>状況</th>
                            <th>画像</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="shopping : ${shoppingList}" th:object="${shopping}">
                            <td th:text="*{id}"></td>
                            <td th:text="*{price}"></td>
                            <td th:text="*{username}"></td>
                            <td><a th:href="@{/shopping/{id}(id=*{id},from='purchases')}" th:text="*{name}"></a></td>
                            <td th:text="*{description}"></td>
                            <td th:text="*{statusLabel()}"></td>
                            <td>
                                <img th:src="@{'/uploads/' + *{imagePath}}" width="30">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>