<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ログイン - フリマデモ</title>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title text-center">ようこそ！フリマデモへ！</h3>
          <p class="text-center">アカウントにログインしてください</p>
        </div>
        <div th:if="${param.error}" class="alert alert-danger">
          ユーザー名またはパスワードが違います
        </div>
        <div class="card-body">
          <form th:action="@{/login}" method="post">
            <div class="mb-3">
              <label class="form-label">ユーザー名</label>
              <input type="text" name="username" class="form-control form-control-lg" placeholder="ユーザー名を入力">
            </div>
            <div class="mb-3">
              <label class="form-label">パスワード</label>
              <input type="password" name="password" class="form-control form-control-lg" placeholder="パスワードを入力">
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">ログイン</button>
            </div>
          </form>
        </div>
        <div class="card-footer text-center">
          <a th:href="@{/register}" class="text-decoration-none">アカウント登録はこちら</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
